<h1>Standings</h1>
<app-season-select
  [selectedSeason]="selectedSeason"
  [seasonRange]="[firstSeason, currentSeason]"
  (changeSeason)="onSetSeason($event)"
>
</app-season-select>
<mat-tab-group>
  <mat-tab label="Driver Standings">
    <app-driver-standings
      [loading]="loading"
      [error]="error"
      [dataSource]="driversDataSource"
    >
    </app-driver-standings>
  </mat-tab>
  <mat-tab label="Constructor Standings">
    <app-constructor-standings
      [loading]="loading"
      [error]="error"
      [dataSource]="constructorsDataSource"
    >
    </app-constructor-standings>
  </mat-tab>
</mat-tab-group>
