<div>
  <button
    mat-raised-button
    color="primary"
    class="select-button"
    title="Previous season"
    (click)="onChangeSeason(-1)"
    [disabled]="selectedSeason === seasonRange[0]"
  >
    <mat-icon>chevron_left</mat-icon>
  </button>
  <mat-form-field class="select">
    <mat-select
      [(value)]="selectedSeason"
      (selectionChange)="onSelectSeason($event)"
      aria-label="Select season"
    >
      <mat-option *ngFor="let season of seasons" [value]="season">
        Season {{ season }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    class="select-button"
    title="Next season"
    (click)="onChangeSeason(1)"
    [disabled]="selectedSeason === seasonRange[1]"
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
