$ferrari: (
  50 : #fbe0e0,
  100 : #f5b3b3,
  200 : #ee8080,
  300 : #e74d4d,
  400 : #e12626,
  500 : #dc0000,
  600 : #d80000,
  700 : #d30000,
  800 : #ce0000,
  900 : #c50000,
  A100 : #ffeded,
  A200 : #ffbaba,
  A400 : #ff8787,
  A700 : #ff6e6e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mercedes: (
  50 : #e0faf7,
  100 : #b3f2ec,
  200 : #80e9df,
  300 : #4de0d2,
  400 : #26d9c8,
  500 : #00d2be,
  600 : #00cdb8,
  700 : #00c7af,
  800 : #00c1a7,
  900 : #00b699,
  A100 : #dffff9,
  A200 : #acfff0,
  A400 : #79ffe7,
  A700 : #5fffe2,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$redbull: (
  50 : #e1e0fd,
  100 : #b4b3fa,
  200 : #8380f7,
  300 : #514df4,
  400 : #2b26f1,
  500 : #0600ef,
  600 : #0500ed,
  700 : #0400eb,
  800 : #0300e8,
  900 : #0200e4,
  A100 : #ffffff,
  A200 : #d8d8ff,
  A400 : #a5a5ff,
  A700 : #8b8bff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mclaren: (
  50 : #fff1e0,
  100 : #ffdbb3,
  200 : #ffc380,
  300 : #ffab4d,
  400 : #ff9926,
  500 : #ff8700,
  600 : #ff7f00,
  700 : #ff7400,
  800 : #ff6a00,
  900 : #ff5700,
  A100 : #ffffff,
  A200 : #fff6f2,
  A400 : #ffd1bf,
  A700 : #ffbfa6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$renault: (
  50 : #fffee0,
  100 : #fffcb3,
  200 : #fffa80,
  300 : #fff84d,
  400 : #fff726,
  500 : #fff500,
  600 : #fff400,
  700 : #fff200,
  800 : #fff000,
  900 : #ffee00,
  A100 : #ffffff,
  A200 : #fffef2,
  A400 : #fffabf,
  A700 : #fff8a6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$racingpoint: (
  50 : #fef2f8,
  100 : #fce0ef,
  200 : #facbe4,
  300 : #f8b6d9,
  400 : #f7a6d0,
  500 : #f596c8,
  600 : #f48ec2,
  700 : #f283bb,
  800 : #f079b4,
  900 : #ee68a7,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff9fc,
  A700 : #ffe0ee,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$alfaromeo: (
  50 : #f2e0e0,
  100 : #e0b3b3,
  200 : #cb8080,
  300 : #b64d4d,
  400 : #a62626,
  500 : #960000,
  600 : #8e0000,
  700 : #830000,
  800 : #790000,
  900 : #680000,
  A100 : #ff9797,
  A200 : #ff6464,
  A400 : #ff3131,
  A700 : #ff1818,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$haas: (
  50 : #efefef,
  100 : #d7d7d7,
  200 : #bcbcbc,
  300 : #a1a1a1,
  400 : #8c8c8c,
  500 : #787878,
  600 : #707070,
  700 : #656565,
  800 : #5b5b5b,
  900 : #484848,
  A100 : #f7b4b4,
  A200 : #f28686,
  A400 : #ff4646,
  A700 : #ff2c2c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$alphatauri: (
  50 : #ffffff,
  100 : #ffffff,
  200 : #ffffff,
  300 : #ffffff,
  400 : #ffffff,
  500 : #ffffff,
  600 : #ffffff,
  700 : #ffffff,
  800 : #ffffff,
  900 : #ffffff,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$williams: (
  50 : #e0f0fe,
  100 : #b3dafe,
  200 : #80c1fd,
  300 : #4da8fc,
  400 : #2695fb,
  500 : #0082fa,
  600 : #007af9,
  700 : #006ff9,
  800 : #0065f8,
  900 : #0052f6,
  A100 : #ffffff,
  A200 : #eaefff,
  A400 : #b7caff,
  A700 : #9db8ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
