@import '~@angular/material/theming';
@include mat-core();

$ferrari: (
  50 : #fbe0e0,
  100 : #f5b3b3,
  200 : #ee8080,
  300 : #e74d4d,
  400 : #e12626,
  500 : #dc0000,
  600 : #d80000,
  700 : #d30000,
  800 : #ce0000,
  900 : #c50000,
  A100 : #ffeded,
  A200 : #ffbaba,
  A400 : #ff8787,
  A700 : #ff6e6e,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$ferrari-primary: mat-palette($ferrari);
$ferrari-accent: mat-palette($ferrari, A200, A100, A400);
.highlight {
  background-color: mat-color($ferrari-accent)!important;
}
$f1app-warn: mat-palette($mat-red);
$ferrari-light: mat-light-theme($ferrari-primary, $ferrari-accent, $f1app-warn);
@include angular-material-theme($ferrari-light);

.ferrari-dark {
  .highlight {
    background-color: mat-color($ferrari-primary)!important;
  }
  $ferrari-dark: mat-dark-theme($ferrari-primary, $ferrari-accent, $f1app-warn);
  @include angular-material-theme($ferrari-dark);
}
