<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>
    <a mat-button routerLink="/calendar">
      <mat-icon>home</mat-icon> F1 App
    </a>
  </span>
  <span>
    <a mat-button routerLink="/calendar">
      Calendar
    </a>
    <a mat-button routerLink="/standings">
      Standings
    </a>
  </span>
  <span class="fill-remaining-space"></span>
  <button mat-button [matMenuTriggerFor]="themeMenu">
    <span>Theme</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #themeMenu="matMenu">
    <button
      *ngFor="let team of teams"
      mat-menu-item
      (click)="saveTheme(team.id)"
    >
      {{ team.name }}
    </button>
  </mat-menu>
  <button
    *ngIf="isDark && theme !== 'williams'"
    mat-button
    (click)="saveIsDark(false)"
    title="Light theme"
    aria-label="Set light theme"
  >
    <mat-icon>brightness_5</mat-icon>
  </button>
  <button
    *ngIf="!isDark && theme !== 'williams'"
    mat-button
    (click)="saveIsDark(true)"
    title="Dark theme"
    aria-label="Set dark theme"
  >
    <mat-icon>brightness_3</mat-icon>
  </button>
</mat-toolbar>
