<mat-toolbar color="primary" class="mat-elevation-z6">
  <span>
    <a mat-button routerLink="/calendar">
      <mat-icon>home</mat-icon> F1 App
    </a>
  </span>
  <span>
    <a
      mat-button
      routerLink="/calendar"
      [routerLinkActive]="['active']"
      class="nav-item"
    >
      Calendar
    </a>
  </span>
  <span class="fill-remaining-space"></span>
  <button mat-button [matMenuTriggerFor]="themeMenu">
    <span>Theme</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #themeMenu="matMenu">
    <button
      *ngFor="let team of teams"
      mat-menu-item
      (click)="saveTheme(team.id)"
    >
      {{ team.name }}
    </button>
  </mat-menu>
  <mat-slide-toggle
    *ngIf="theme !== 'williams'"
    aria-label="Toggle light/dark theme"
    [checked]="isDark"
    (change)="saveIsDark(!isDark)"
  >
    <mat-icon>brightness_3</mat-icon>
  </mat-slide-toggle>
</mat-toolbar>
